@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*-------------------------*/
@font-face {
  font-family: "GraphikMedium";
  src: url("../fonts/GraphikMedium.eot");
  src: local("☺"), url("../fonts/GraphikMedium.woff") format("woff"), url("../fonts/GraphikMedium.ttf") format("truetype"), url("../fonts/GraphikMedium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "GraphikRegular";
  src: url("../fonts/GraphikRegular.eot");
  src: local("☺"), url("../fonts/GraphikRegular.woff") format("woff"), url("../fonts/GraphikRegular.ttf") format("truetype"), url("../fonts/GraphikRegular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
.big-headers {
  font-family: "GraphikRegular";
  font-size: 52px;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: 0.2px;
  text-align: center;
}

.sub-headers {
  font-family: "GraphikRegular";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
  text-align: center;
}

body {
  background-color: #181818;
  color: white;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.header__container {
  display: flex;
  flex-direction: row;
  min-height: 118px;
  align-items: center;
  justify-content: center;
  margin: 0 245.5 px 50px 245.5px;
  padding-left: 30px;
  padding-right: 30px;
}

.header__logo {
  flex: 0 0 206px;
}
.header__logo img {
  width: 100%;
}

.header__menu {
  display: flex;
  flex: 1 1 393px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header__login {
  flex: 0 0 206px;
  display: flex;
  justify-content: center;
}

.login {
  width: 139px;
  height: 52px;
  padding: 13.5px 46px;
}

.menu__list {
  display: flex;
  flex: 1 1 393px;
  flex-direction: row;
  justify-content: center;
  gap: 35px;
}

.menu__item {
  font-family: "GraphikMedium";
  color: white;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-transform: capitalize;
}

.header__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  padding-bottom: 50px;
  margin-bottom: 35px;
}

.header__text-big {
  flex: 0 0 176px;
  max-width: 729px;
  font-family: "GraphikMedium";
  font-weight: 500;
  font-style: normal;
  font-size: 80px;
  line-height: 88px;
  letter-spacing: 0.2px;
  padding: 10px;
  margin-bottom: 17px;
}

.header__text-small {
  flex: 0 0 60px;
  max-width: 602px;
  font-family: "GraphikRegular";
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  padding: 10px;
}

.header__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 35px;
  margin-bottom: 35px;
}

.head-button {
  width: 178px;
  height: 65px;
  padding: 20px 17.5px;
  text-align: center;
}

.link {
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  font-family: "GraphikMedium";
  line-height: 25px;
  color: white;
  border: white 1px solid;
  border-radius: 5px;
}
.link:hover {
  background-color: #4452FE;
  border: #4452FE 1px solid;
}

.header__screens {
  max-height: 993px;
  padding-bottom: 150px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0E0E0E 100%);
}
.header__screens img {
  display: block;
  max-width: 100%;
  opacity: 0, 92;
}

.main {
  flex: 1 1 auto;
}

.features {
  max-width: 1479px;
  margin: 0 auto;
  margin-bottom: 100px;
  padding-top: 62px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features__header {
  flex: 1 1 62px;
  padding: 0 20px;
  max-width: 251px;
  margin-bottom: 27px;
}
.features__subheader {
  flex: 1 1 60px;
  max-width: 602px;
  padding: 0 10px;
  padding-bottom: 80px;
}
.features__infoblock {
  display: flex;
  flex-direction: row;
  max-width: 1088px;
  align-items: center;
}
.features__infoblock .features-pic {
  flex: 0 0 752px;
}
.features__infoblock .features-pic img {
  max-width: 100%;
}
.features__infoblock .tipsblock-container {
  flex: 1 1 auto;
  margin-left: 27px;
  padding: 54px 20px;
}

.tipsblock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tipsblock .tip {
  margin-bottom: 25px;
}
.tipsblock .tip h2 {
  display: inline-block;
  max-width: 173px;
  font-family: "GraphikMedium";
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.1px;
  text-align: left;
  padding: 10px;
}
.tipsblock .tip p {
  font-family: "GraphikRegular";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: left;
  padding: 10px;
}
.tipsblock .tip:first-child {
  margin-top: 20px;
}
.tipsblock .tip:last-child {
  margin-bottom: 20px;
}

.contents {
  max-width: 985px;
  margin: 0 auto;
}
.contents__header {
  padding: 10px;
  max-width: 591px;
  align-self: center;
}
.contents__subheader {
  padding: 10px;
  max-width: 591px;
  align-self: center;
  margin-bottom: 44px;
}

.contents__column {
  display: flex;
  flex-direction: column;
}

.contents__cardsbox {
  display: flex;
  flex: 1 0 625px;
  flex-direction: row;
  max-width: 985px;
  justify-content: space-between;
}

.contents__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 476px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 40px 0px;
  overflow: hidden;
}
.contents__card .card__header {
  background-color: aquamarine;
  flex: 0 0 10%;
  padding: 10px;
  color: rgb(0, 0, 0);
  font-family: "GraphikMedium";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.1px;
}/*# sourceMappingURL=styles.css.map */