
.header{
    background-color: #181818;
    max-width: 100%;
    margin: 0 auto;
}
.header__container {
    display: flex;
    flex-direction: row;
    min-height: 118px;
    align-items: center;
    justify-content: center;
    margin: 0 245.5 px 50px 245.5px;
    padding-left: 30px;
    padding-right: 30px;
}
.header__logo{
    flex: 0 0 206px;
    img {
        width: 100%;
    }
    
}
.header__menu{
    display: flex;
    flex: 1 1 393px;
    flex-direction: row;
    align-items: center; // по середине по высоте
    justify-content: center; // по середине блока по ширине
}
.header__login{
    flex: 0 0 206px;
    display: flex;
    justify-content: center;
}
.login{
    width: 139px;
    height: 52px;
    padding: 13.5px 46px;
}
.menu__list {
    display: flex;
    flex: 1 1 393px;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
    
}
.menu__item{
    font-family: 'GraphikMedium';
    color: #ffff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    text-transform: capitalize;
}
.header__buttons {
display: flex;
flex-direction: row;
max-width: 387px;
justify-content: space-between;
margin: 0 auto;


}
.head-button{
    width: 178px;
    height: 65px;
    padding: 20px 42px;
}
.link{
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    font-family: 'GraphikMedium';
    line-height: 25px;
    color: #ffff;
    border: #ffff 1px solid;
    border-radius: 5px;
    &:hover{
        background-color: #4452FE;
        border: #4452FE 1px solid;
    }
}
.header__image {
    width: 1579px;
    border: 1px white solid;
    padding: 0 auto;
}


