
.container {
    display: flex;
    max-width: 1219px;
    margin: 0 auto;
}

.header{
    background-color: #181818;
}
.header__container {
    display: flex;
    flex-direction: row;
    min-height: 118px;
    align-items: center;
    justify-content: center;
    padding: 0px 30px;
    margin-bottom: 50px;
    
    
}

.header__menu{
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    align-items: center; // по середине по высоте
    justify-content: center; // по середине блока по ширине
}
.menu__list {
    display: flex;
    flex-direction: row;
    gap: 31px;
    
}
.menu__item{
    font-family: 'GraphikMedium';
    color: #ffff;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}

.header__logo{
    flex: 0 0 206px;
    margin: 20px auto 20px 30px;
}

.header__login{
    font-family: 'GraphikMedium';
    text-transform: capitalize;
    font-weight: normal;
    font-size: 16px;
    flex: 0 0 139px;
    border: #ffff solid 1px;
    height: 52px;
    line-height: 25px;
    padding: 13.5px 46px;
    letter-spacing: 0.2px;
}
.header__link{
    color: #ffff;
}

.subheader__container{
    margin-bottom: 85px;
}


.subheader{
    display: flex;
    flex-direction: column;
    align-items: center; 
    color: white;
    font-family: Graphik;
    letter-spacing: 0.2px;
    min-height: 0px;
    padding: 0 245px 0 245px;
    //border: white solid 1px;
    gap: 17px;
    

        &__slogan 
        {  
        font-size: 80px;
        font-weight: 500;
        line-height: 88px;
        text-align: center;
        padding: 0 50px;
        }
        
        &__explanation
        {
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
        padding: 0 100px;
        }
       
}

.header__buttons {
display: flex;
flex-direction: row;
max-width: 387px;
justify-content: space-between;
align-items: center;
margin: 0 auto;
margin-bottom: 35px;

}
.link{
    display: inline-block;
    min-height: 65px;
    font-size: 16px;
    font-weight: normal;
    font-family: 'GraphikMedium';
    padding: 20px 30px;
    line-height: 25px;
    color: #ffff;
    border: #ffff 1px solid;
    border-radius: 5px;
    &:hover{
        background-color: #4452FE;
        border: #4452FE 1px solid;
        ;
    }
}


/* ТЕСТИРУЕМ ПОДКЛЮЧЕНИЕ ШРИФТОВ
.times {
    display: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 10px;
    padding:20px;
    
}
.Graphik_medium {
    display: none;
    font-family: 'GraphikMedium';
    font-size: 16px;
    background-color: #ffffff;
    margin-bottom: 20px;
    font-weight: 500;
    border-radius: 10px;
    padding:20px;
}
.Graphik_regular {
    display: none;
    font-family: 'GraphikRegular';
    font-size: 16px;
    background-color: #ffffff;
    margin-bottom: 20px;
    font-weight: normal;
    border-radius: 10px;
    padding:20px;
} */