@import "default.scss";

@font-face {
	font-family: 'GraphikMedium';
	src: url('../fonts/GraphikMedium.eot');
	src: local('☺'), url('../fonts/GraphikMedium.woff') format('woff'), url('../fonts/GraphikMedium.ttf') format('truetype'), url('../fonts/GraphikMedium.svg') format('svg');
	font-weight: 500;
	font-style: normal;}

@font-face {
        font-family: 'GraphikRegular';
        src: url('../fonts/GraphikRegular.eot');
        src: local('☺'), url('../fonts/GraphikRegular.woff') format('woff'), url('../fonts/GraphikRegular.ttf') format('truetype'), url('../fonts/GraphikRegular.svg') format('svg');
        font-weight: 400;
        font-style: normal;}


body{
    background-color: #181818;
    color: white;
    
}
//wrapper - контейнер для помещения флекс блоков хедер, контент, футер
.wrapper {
    overflow:hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%; //чтобы оболочка заняла все окно браузера по высоте
}
@import "header.scss";

//-------------заголовок и подзаголовок всех страниц--------------//
.headbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2px;
    font-weight: 400;
    max-width: 591px;
    margin: 0 auto 44px auto;
    .headbox__title{
        padding: 10px;
        font-family: 'GraphikRegular';
        font-size: 52px;
        line-height: 62px;}
    .headbox__subtitle{
        padding: 10px;
        font-family: 'GraphikRegular'; 
        font-size: 20px;
        line-height: 30px;}
    }

.main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto; //футер прижали контентом к низу

}

//--------------features--------------//

.features__column{
    max-width: 1479px;
    margin: 0 auto;
    padding-top: 62px;
    display: flex;
    flex-direction: column;
    align-items: center;
    

        .features__infoblock{
        display: flex;
        flex-direction: row;
        max-width: 1088px;
        align-items: center;
            .features-pic{
            flex: 0 0 752px;
                img{
                max-width: 100%;
                }
            }  
                .tipsblock-container{
                flex: 1 1 auto;
                margin-left: 27px;
                padding: 54px 20px;
                
            }
        }}

.tipsblock{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    .tip{
        margin-bottom: 25px;
        h2{
            display: inline-block;
            max-width: 173px;
            font-family: 'GraphikMedium';
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
            letter-spacing: 0.1px;
            text-align: left;
            padding: 10px;
        }
        p{
            font-family: 'GraphikRegular';
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.2px;
            text-align: left;
            padding: 10px;

        }
        &:first-child{
            margin-top: 20px;
        }
        &:last-child{
            margin-bottom: 20px;
        }
    }
}

//------------contents-----------------------//
.contents__column{
    display:flex;
    flex-direction: column; 
    margin-bottom: 100px;}
.contents__cardsbox{
    display: flex;
    flex: 0 0 625px; //база контейнера по высоте 625px, но может расшираться
    flex-direction: row;
    max-width: 985px;
    justify-content: space-between;
    margin: 0 auto;}
.contents__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 476px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    padding: 40px 0px;
    overflow: hidden;    }
.card__header{
    padding: 10px;
    color:rgba(0, 0, 0, 1);
    font-family: 'GraphikMedium';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.1px;    }
.card__text{
    font-family: 'GraphikRegular';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #5C5C5C;}   
.button{
    display: flex;
    position: relative;
    font-family: 'GraphikMedium';
    height: 52px;
    background-color: #4452FE;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.2px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    padding: 20px 36px;
    max-width: fit-content;
    transition-duration: 0.2s;
    box-shadow: 0 5px 0px #3c354a;
    margin-bottom: 20px;
    align-self: center;
    &:hover{
        background-color: #0015fc;
        box-shadow: 2px 2px 4px 10px #6d6d6d(71, 18, 114, 0.7);
        transition-duration: 0.3s;}
    &:active{
        background-color: #101a88;
        box-shadow: 0 3px 0px #3c354a;
        top: 2px;
        transition-duration: 0.2s;}
    a{
        display: block;
        align-self: center;
        color: white;}}
.card__image{
    max-height: 320px;
    max-width: 96%;
    overflow: hidden;
    text-align: center;
    border-radius: 15px;
    img{
        max-width: 100%;}}
.left-card-image{


    align-items: center;
    position:relative;
 img {
        &:first-child{
            //macbook
            position: relative;
            z-index: 1;
            zoom:1.1;
            top:25px;        }
        &:last-child{

            //screen
            position:relative;
            zoom:0.24;
            z-index: 2;
            bottom: 890px;}}}

//--------------gallery----------------------//

.gallery{
    max-width: 1087px;
    flex: 0 1 auto;
    margin: 0 auto 50px auto;}

.gallery__column{
    display: flex;
    flex-direction: column;}

.gallery__photoline{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 33px;
    margin-bottom: 44px;}

.gallery__photo{
    height: 285px;
    overflow: hidden;
    flex: 1 1 225px;
    border-radius: 10px;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;}}

.gallery__button{
    
    flex: 0 1 52px;
}

//--------------partners------------------//
.partners{
    max-width: 832px;
    margin: 0 auto;}
.partners__logos{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;}
.gallery__button{
    margin: 0 auto 50px auto;}

//------------testimonials--------------//


.testimonials__contaier{
    max-width: 886px;
    margin: 0 auto;}

.testimonials__row {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    font-family: 'GraphikMedium';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: left;
    font-weight: 400;
    border: 1px red solid;}

.testimonials__story{
    padding: 40px;
    border-radius: 10px;
    border: 1px #DEDEDE solid;
    flex: 0 1 430px;
    overflow: hidden;
    background-color: #3c354a;
    .ava-name-job{
    display: flex;
    max-width: 100%;
    //border: #0015fc 1px solid;
    margin-bottom: 30px;
    img{
        max-width: 25%;
        min-width: 50px;
        min-height: 50%;
        border-radius: 50px;
        margin-right: 10px;
        object-fit: contain; }
    .name-job{
        flex: 0 1 auto;
        max-height: auto;
        text-align: left;
        padding-left: 8px; }
    }    
    .story{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-style: italic;
    }

  
}


