@import "default.scss";

@font-face {
	font-family: 'GraphikMedium';
	src: url('../fonts/GraphikMedium.eot');
	src: local('☺'), url('../fonts/GraphikMedium.woff') format('woff'), url('../fonts/GraphikMedium.ttf') format('truetype'), url('../fonts/GraphikMedium.svg') format('svg');
	font-weight: 500;
	font-style: normal;}

@font-face {
        font-family: 'GraphikRegular';
        src: url('../fonts/GraphikRegular.eot');
        src: local('☺'), url('../fonts/GraphikRegular.woff') format('woff'), url('../fonts/GraphikRegular.ttf') format('truetype'), url('../fonts/GraphikRegular.svg') format('svg');
        font-weight: 400;
        font-style: normal;}

.big-headers{
            font-family: 'GraphikRegular';
            font-size: 52px;
            font-weight: 400;
            line-height: 62px;
            letter-spacing: 0.2px;
            text-align: center;}
        
.sub-headers{
            font-family: 'GraphikRegular'; 
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0.2px;
            text-align: center;}



body{
    background-color: #181818;
    color: white;
    
}
//wrapper - контейнер для помещения флекс блоков хедер, контент, футер
.wrapper {
    overflow:hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%; //чтобы оболочка заняла все окно браузера по высоте
}
@import "header.scss";

.main {
    flex: 1 1 auto; //футер прижали контентом к низу
}

//-------------main---------------------------------//

.features{
    max-width: 1479px;
    margin: 0 auto;
    padding-top: 62px;
    display: flex;
    flex-direction: column;
    align-items: center;
        &__header{
        flex: 1 1 62px;
        padding: 0 20px;
        max-width: 251px;
        margin-bottom: 27px;
        }
        &__subheader{
        flex: 1 1 60px;
        max-width: 602px;
        padding: 0 10px;
        padding-bottom: 80px;
        }
        &__infoblock
        {
        display: flex;
        flex-direction: row;
        max-width: 1088px;
        align-items: center;
            .features-pic
            {
            flex: 0 0 752px;
                img{
                max-width: 100%;
            }
            }  
            .tipsblock-container{
                flex: 1 1 auto;
                margin-left: 27px;
                padding: 54px 20px;
                
            }
        }
}

.tipsblock{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    .tip{
        margin-bottom: 25px;
        h2{
            display: inline-block;
            max-width: 173px;
            font-family: 'GraphikMedium';
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
            letter-spacing: 0.1px;
            text-align: left;
            padding: 10px;
        }
        p{
            font-family: 'GraphikRegular';
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.2px;
            text-align: left;
            padding: 10px;

        }
        &:first-child{
            margin-top: 20px;
        }
        &:last-child{
            margin-bottom: 20px;
        }
    }
    


}