@import "default.scss";
@import "header.scss";

@font-face {
	font-family: 'GraphikMedium';
	src: url('../fonts/GraphikMedium.eot');
	src: local('☺'), url('../fonts/GraphikMedium.woff') format('woff'), url('../fonts/GraphikMedium.ttf') format('truetype'), url('../fonts/GraphikMedium.svg') format('svg');
	font-weight: 500;
	font-style: normal;}

@font-face {
        font-family: 'GraphikRegular';
        src: url('../fonts/GraphikRegular.eot');
        src: local('☺'), url('../fonts/GraphikRegular.woff') format('woff'), url('../fonts/GraphikRegular.ttf') format('truetype'), url('../fonts/GraphikRegular.svg') format('svg');
        font-weight: normal;
        font-style: normal;
    }

body{
    color:beige;
    
}

//wrapper - контейнер для помещения флекс блоков хедер, контент, футер
.wrapper {
    overflow:hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%; //чтобы оболочка заняла все окно браузера по высоте
}



.main {
    flex: 1 1 auto; //футер прижали контентом к низу
}

